.descriptor
{
    min-width      : 110px;
    padding        : 0 0 0 5px;
    vertical-align : middle;
}

.selector
{
    max-width : 30px;
    min-width : 30px;
    padding   : 0;
    width     : 30px;
}

tbody .descriptor
{
    height      : 30px;
    line-height : 30px;
    width       : auto;
}

tbody .selector
{
    height      : 30px;
    line-height : 30px;
    text-align  : center;
}

.character-name
{
    left          : 0;
    line-height   : 50px;
    padding-left  : 65px;
    padding-right : 50px;
    position      : absolute;
    width         : 100%;
}

.character-image
{
    border  : none;
    height  : auto;
    padding : 0;
    width   : 30px;
}
